* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 22% 78%;
}

.side-bar {
  height: 100vh;
  background-color: rgb(0, 140, 255);
  color: white;
  font-weight: bold;
  padding: 10px;
}

.st {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-bottom: 16%;
}

.est {
  display: flex;
  align-items: center;
  margin: 5% 0;
}

.first {
  height: 36px;
  margin: 0 3% 0 2%;
}

img[src^="svg/"] {
  height: 20px;
  margin: 0 6% 0 5%;
}

.main-view {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: blueviolet;
}

.nav-bar {
  height: 20vh;
  background-color: white;
}

.dashboard-content {
  height: 80vh;
  background-color: rgb(219, 230, 240);
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 20px;
  padding: 20px;
}

.projects > p {
  font-size: 20px;
  font-weight: bold;
}

.projects-container {
  height: 100%;
  background-color: rgb(219, 230, 240);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.project-card {
  /* height: 30%; */
  background-color: white;
  border-radius: 8px;
  border-left: 8px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.project-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.project-card-desc {
  font-size: 14px;
  margin-bottom: 18px;
}
.project-card-icon-bx {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
  padding-right: 20px;
}
.project-card-icon-bx > img {
  margin: 0 3%;
}
.trend-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  background-color: aqua;
}

.trend-cards {
  /* height: 45%; */
  background-color: yellow;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 60px 30px 60px 60px 60px 60px 60px 60px 30px / 22% 26% 26% 26%;
  background-color: orangered;
}

.container > div {
  border: 1px solid;
}

p {
  display: flex;
}

img[src^="svg/"] {
  height: 20px;
  margin: 0 7%;
}

#dashboard {
  background: dodgerblue;
  grid-row: 1 / 10;
  font-size: 1.1em;
  color: white;
  height: 100vh;
}

#t-nav {
  grid-area: 1 / 2 / 3 / 5;
  width: 100%;
  height: 20vh;
  border-color: rgb(108, 236, 34);
}

.enter {
  width: 40%;
}

#project1 {
  grid-row: 3 / 5;
  margin: 8px;
  height: 28vh;
}

#project2 {
  grid-row: 3 / 5;
}

#project3 {
  grid-row: 5 / 7;
}

#project4 {
  grid-row: 5 / 7;
}

#project5 {
  grid-row: 7 / 9;
}

#project6 {
  grid-row: 7 / 9;
}
#announcement {
  grid-row: 3 / 6;
}

#trending {
  grid-row: 6 / 9;
} */
